* {margin: 0;padding: 0;color:#555}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%}
h3 {padding-top:21px}
a {text-decoration:none;color:#842}
a:hover,a:active {outline: 0;cursor:pointer;cursor:hand}
img {border: 0;-ms-interpolation-mode: bicubic}
ul, ol {padding-left:21px}
b {font-weight:bold}
pre {text-indent: 25px}
body {font: 14px/22px Tahoma,Helvetica;color: #555;font-weight: 300;background: #cdf}
.header {padding:30px 0;width: 100%;text-align: center;background: #9be;font: 18px/42px Tahoma, Helvetica}
.footer {font-size:11px;border-top:1px solid #555;text-align:center}
#logo {background: url(octocat.png) no-repeat;height: 36px;width: 36px;float:left;margin-top:-7px;padding:0 5px}
.link a {padding:5px}
.menu .link {padding:12px 0;margin:0 auto}
.menu {width: 100%;background: #fe3}
.content {margin:0 auto;padding:5px 0}
#home, #edmyadmin, #edliteadmin {display:none;padding:12px}
button,input {line-height: normal}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor: pointer;-webkit-appearance: button}
button[disabled],input[disabled] {cursor: default}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0}
.button:hover {background:#ff5}
.button {padding:5px;border:1px solid #dc3;background:#ed3;
-moz-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
}

@media only screen and (max-width: 780px) {
.menu .right {display:none}
.link, .content {width: 98%}
}
@media screen and (min-width: 780px) {
.menu .right {float:right}
.link, .content {width: 780px}
}
